
.sideright-bricks { 
/*  overflow: hidden;  */
}

.sideright-bricks .full-content{
	width: 100%;
	clear: both;
}

.sideright-bricks .main-content{
	width: 70%;
	float: left;
	padding-right: 40px;
}

.sideright-bricks .side-content{
	width: 30%;
	float: left;
}