/* VARS 
-------------------------------------------------------------- */
/* COLORS  */
/* DARK GREY  */
/* RED  */
/* MIX-INS 
-------------------------------------------------------------- */
.inline_block, #block-system-main-menu li span, #block-system-main-menu li a {
  display: inline-block;
  zoom: 1;
  *display: inline; }

.clearfix, .link .image {
  zoom: 1; }
  .clearfix:before, .link .image:before, .clearfix:after, .link .image:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
  .clearfix:after, .link .image:after {
    clear: both; }

/* COMMON 
-------------------------------------------------------------- */

.soon{
	width: 300px;
	height: 100px;
	line-height: 100px;
	font-size: 20px;
	text-align: center;
	background: #225262;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -80px 0 0 -150px;
	text-transform: uppercase;
}

html {
  background: #f5f3e9; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  color: #444444;
  font-size: 18px; }

a {
  cursor: pointer;
  transition: color .3s ease;
  color: #444444;
  color: #444444;
  text-decoration: none; }
  a:hover {
    color: #225262;
    }
  a:hover {
    color: #225262; }
p a{
	color: #225262;
}

p a:hover{
	text-decoration: underline;
}

li a.active,
li.opened span.nolink {
  color: #225262; }

h1 {
  font-weight: 100;
  margin-bottom: 40px;
  padding-bottom: 10px;
  margin-bottom: 10px; }

 h1.main-title {
  text-align: center;
  font-size: 60px;
  font-style: italic;
  font-weight: 100;
  margin-bottom: 40px; }
  
  h2.pane-title{
	  text-align: center;
	  font-weight: 100;
	  margin: 20px 0;
  }

.node-type-post h1.main-title {
  display: none; }

p {
  letter-spacing: normal;
  font-size: 14px;
  line-height: 24px;
  position: relative; 
  font-family: "Gilda Display", serif;}

ul, ul.menu, ul.menu li {
  list-style: none;
  text-align: inherit; }

.bull {
  color: #dddddd;
  padding: 0 10px; }

/* HEADER 
-------------------------------------------------------------- */
#header {
  position: fixed;
  background-color: #225262;
  height: 40px;
  line-height: 40px;
  width: 100%;
  z-index: 999; }
  #header .bot {
    width: 100%;
    height: 35px;
    top: 40px;
    position: absolute;
    background-color: rgba(245, 243, 233, 0.9); }

#header-inner {
  float: right; }

#u-big, #d-big {
  position: absolute;
  z-index: 1000; }


#u-big {
  top: 60px;
  left: 50%;
  margin-left: -620px; }

#d-big {
  top: 80px;
  left: 50%;
  margin-left: -170px; }

#ud-sm {
  position: absolute;
  top: 0;
  left: 0; }
  #ud-sm .logo {
    right: inherit;
    margin: 0;
    line-height: normal;
    width: 180px;
    top: 0;
    left: 240px; }
    #ud-sm .logo .slogan {
      margin-top: 5px; }

#u-sm {
  position: absolute;
  top: 10px;
  left: 20px; }

#d-sm {
  position: absolute;
  top: 20px;
  left: 155px; }

.logo {
  font-size: 16px;
  position: absolute; }
  .logo a {
    cursor: pointer;
    transition: color .3s ease;
    color: #444444;
    text-transform: uppercase; }
    .logo a:hover {
      color: white;
      transition: none; }
    .logo a span {
      display: block;
      margin-left: 20px; }
  .logo .slogan {
    color: #225262;
    font-style: italic;
    margin-top: 10px;
    margin-left: 60px; }

#block-system-main-menu ul {
  font-size: 0;
  position: relative; }
#block-system-main-menu li {
  float: left;
  list-style: none;
  position: relative;
  margin: 0;
  padding: 0; }
  #block-system-main-menu li ul {
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    width: 150px; }
    #block-system-main-menu li ul li {
      display: block;
      float: none; }
    #block-system-main-menu li ul a {
      cursor: pointer;
      transition: color .3s ease;
      color: #225262;
      display: block;
      background-color: #555;
      color: #f5f3e9;
      border-bottom: #484848 1px solid; }
      #block-system-main-menu li ul a:hover {
        color: #225262;
        transition: none; }
  #block-system-main-menu li:hover ul {
    display: block; }
  #block-system-main-menu li.first span {
    padding-left: 30px; }
  #block-system-main-menu li.last a {
    padding-right: 30px; }
  #block-system-main-menu li span, #block-system-main-menu li a {
    cursor: pointer;
    transition: color .3s ease;
    color: #444444;
    font-size: 14px;
    font-weight: 300;
    padding: 0 20px;
    cursor: pointer;
    text-transform: uppercase; }
    #block-system-main-menu li span:hover, #block-system-main-menu li a:hover {
      color: #225262;
      transition: none; }
    #block-system-main-menu li span:hover, #block-system-main-menu li span.active, #block-system-main-menu li a:hover, #block-system-main-menu li a.active {
      color: #fff; }

.menu-toggle {
  display: none;
  cursor: pointer; }

.front #main {
  padding-top: 400px; }
.front #header .bot {
  display: none; }
.front .logo {
  top: 150px;
  right: 50%;
  margin-right: -330px; }
.front #ud-sm {
  top: -180px; }

/* MAIN 
-------------------------------------------------------------- */
#main-content {
  width: 1100px;
  margin: 0 auto;
  z-index: 1;
  position: relative; }

#main {
  padding-top: 200px; }

.sidebar-first #main {
  float: left;
  width: 680px;
  margin: 0 40px 0 0; }

.sidebar-first #side {
  float: left;
  width: 380px; }

/* SIDE
-------------------------------------------------------------- */
.side-content h2 {
  color: #225262;
  font-size: 30px;
  font-weight: 100;
  text-align: center; }
.side-content .panel-pane {
  background-color: #f1eee0;
  padding: 0 0 20px;
  margin-bottom: 20px;
  /*border-bottom: #ccc 1px solid;*/
  position: relative;
  padding: 40px; }
 .side-content .panel-pane h2.pane-title{
	 margin-top: 0;
 } 
 
.side-content .panel-pane .views-row + .views-row{
	 margin-top: 10px;
	 padding-top: 10px;
	 border-top: #225262 dashed 1px;
 }

.side-content .panel-pane li{
	margin-left: 0;
	font-size: 14px;
}

.side-content  .view-id-tweets li a{
	color: #225262;
	
}

#block-menu-menu-categories,
#block-views-content-block-1 {
  text-align: center; }
  #block-menu-menu-categories ul li,
  #block-views-content-block-1 ul li {
    margin: 0;
    padding: 0; }
  #block-menu-menu-categories .more-link,
  #block-views-content-block-1 .more-link {
    text-align: center; }

#follow {
  text-align: center; }

#search-block-form input[type="text"] {
  width: 80%;
  float: left;
  margin-right: 4px; }

.pane-menu-menu-categories {
  text-align: center; }

#block-block-2 img {
  width: 100%;
  height: auto; }

.pane-block-2 img {
  width: 100%;
  height: auto; }

/* CONTACT
-------------------------------------------------------------- */
/* BIO
-------------------------------------------------------------- */
/* BLOG POST
-------------------------------------------------------------- */
.link,
.post {
  margin-bottom: 60px;
  padding-bottom: 60px;
  /*border-bottom: #225262 dashed 1px;*/
  position: relative; }
  .link .header h2,
  .post .header h2 {
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 5px;
    font-family: "Lato", sans-serif;
    font-weight: 300; }
  .link .post-date,
  .post .post-date {
    /*font-size: 14px;
    color: lighten($text_main, 40%);*/
    color: #225262;
    font-size: 40px;
    position: absolute;
    top: -20px;
    left: -20px;
    font-weight: 100; }
  .link .post-date-comments,
  .post .post-date-comments {
    font-size: 14px;
    color: #aaaaaa; }
  .link .comments_btn a,
  .post .comments_btn a {
    cursor: pointer;
    transition: color .3s ease;
    color: #225262;
    font-style: italic;
    font-size: 14px; }
    .link .comments_btn a:hover,
    .post .comments_btn a:hover {
      color: #444444;
      transition: none; }
  .link .body,
  .post .body {
    font-size: 14px; }
    
    .post .body p{
	    font-size: 14px;
    }
  .link .footer,
  .post .footer {
    clear: both;
    margin-top: 10px;
    border-top: #ccc dashed 1px;
    font-size: 12px;
    padding-top: 10px; }
    .link .footer h3,
    .post .footer h3 {
      font-weight: 400;
      font-size: 12px;
      text-transform: uppercase; }
  .link .tags,
  .post .tags {
  font-size: 12px;
  text-transform: uppercase;
    width: 70%;
    float: left; }
    .link .tags h3,
    .post .tags h3 {
      display: inline-block; }
    .link .tags a,
    .post .tags a {
      margin-left: 10px;
      margin-bottom: 4px;
      display: inline-block; }
  .link .share,
  .post .share {
    float: right;
    text-align: right; }
    .link .share h3,
    .post .share h3 {
      margin-bottom: 5px; }
    .link .share .service-links,
    .post .share .service-links {
      float: right; }
  .link .service-links,
  .post .service-links {
    /* display: none; */ }

    .post.featured {
  position: relative; }
/* line 392, ../sass/style.scss */
.post.featured .label {
  position: absolute;
  top: 100px;
  left: -20px; }
/* line 398, ../sass/style.scss */
.post.featured .side {
  margin-top: 20px;
  float: left;
  width: 60%;
  padding-right: 40px;
  border-right: #225262 dashed 1px; }
/* line 406, ../sass/style.scss */
.post.featured .header {
  padding-left: 32px; }
/* line 410, ../sass/style.scss */
.post.featured .body {
  padding-left: 40px;
  padding-top: 20px; }
/* line 415, ../sass/style.scss */
.post.featured .footer {
  float: right;
  width: 40%;
  margin-top: 20px;
  padding-left: 20px; }

.post-teaser .header {
  margin: 120px 5px 20px -20px;
  border-left: #225262 solid 5px;
  padding: 0 0 0 15px; }
.post-teaser .main {
  width: 680px;
  float: left;
  margin-right: 20px; }
.post-teaser .image {
  background-color: #fff;
  padding: 40px; 
  position: relative;
  }
  .post-teaser .image img {
    width: 100%;
    height: auto; }
.post-teaser .side {
  float: left;
  position: relative;
  width: 380px; }
.post-teaser .read-more {
  text-align: center;
   }
  .post-teaser .read-more a {
  color: #225262;
  margin: 20px;
  font-size: 40px;
  font-weight: 100;
  letter-spacing: 2px;
  padding: 10px 20px;

  display: inline-block;
  text-transform: uppercase;
  transition: all .3s ease; }
    .post-teaser .read-more a:hover {
      color: #444;
      }
.post-teaser .footer a {
  cursor: pointer;
  transition: color .3s ease;
  color: #aaaaaa; }
  .post-teaser .footer a:hover {
    color: #225262;
    transition: none; }
.post-teaser .footer .tags {
  width: 30%;
  font-weight: 400; }
  .post-teaser .footer .tags a {
    display: block;
    padding: 0;
    margin: 0 0 4px;;
    text-transform: uppercase; }

.post-full .header {
  text-align: center;
  padding: 0 40px; }
  .post-full .header h1 {
   
    font-weight: 300;
    font-size: 40px;
    margin-bottom: 5px; }
.post-full .summary {
  font-size: 14px;
  padding: 20px 0;
  border-top: #ccc 1px solid;
  margin-top: 20px;
  text-align: left; }
.post-full .body p {
  padding: 10px 40px;
  line-height: 24px;
  margin: 0; }
.post-full .body a {
  cursor: pointer;
  transition: color .3s ease;
  color: #225262; }
  .post-full .body a:hover {
    color: #444444;
    transition: none; }
.post-full .body h2, .post-full .body h3, .post-full .body h4, .post-full .body h5 {
  padding: 0 40px;
  font-weight: 300;
  font-style: italic;
  margin-top: 20px; }
.post-full .body h2 {
  font-size: 30px; }
.post-full .body h3 {
  font-size: 24px; }
.post-full .body h4 {
  font-size: 18px; }
.post-full .body h2 + p, .post-full .body h3 + p, .post-full .body h4 + p {
  padding-top: 10px; }
.post-full .body p.image-holder {
  padding: 40px;
  text-align: center;
  background-color: #fff;
  margin: 10px 0 20px; }
.post-full .body ul, .post-full .body ol {
  padding: 10px 40px;
  margin-left: 20px; }
.post-full .body ul li {
  list-style: circle; }
.post-full .body ol li {
  list-style: decimal; }
.post-full .body img {
  width: 100%;
  height: auto; }
  
.post .credits{
		font-size: 12px;
		text-transform: uppercase;
		margin: 40px 0 20px;
}
.post .credits h2{
	font-weight: 400;
	font-size: 12px;
	margin-bottom: 5px;
}

.item-list .pager{
	margin-bottom: 60px;
	font-size: 30px;
	font-weight: 100;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding: 40px;
	background-color: #f1eee0;
}

.item-list .pager a{
	color: #225262;
}

.item-list .pager a:hover{
	color: #444;
}

.item-list .pager .pager-current{
	font-weight: 100;
	font-size: 20px;
}

.item-list .pager li{
	margin: 0 40px 0;
}


/* LINKS
-------------------------------------------------------------- */
.link .image {
  float: left;
  margin-right: 20px; }




/* ABOUT & CONTACT
-------------------------------------------------------------- */
.left,
.right{
	width: 48%;
	float: left;
	margin-bottom: 60px;
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.left{
	margin-right: 4%;
}




.page-node-52 #main,
.page-node-53 #main{
	
}

.page-node-52 #main img,
.page-node-53 #main img{
	max-width: 100%;
	height: auto;
	
}

.page-node-53 #main h2{
	font-weight: 100;
	font-size: 60px;
	margin-bottom: 40px;
}

.page-node-53 #main a{
	font-size: 24px;
	color: #225262;
}

.page-node-53 #main a:hover{
	color: #444;
}


.about-right,
.about-mid,
.about-left {
  }

.about-left,
.about-right {
  width: 48%;
  margin: 20px auto; }

.about-mid {
  width: 24%;
  margin: 0 3%; }
  .about-mid p {
    font-size: 16px;
    line-height: 30px;
    text-align: justify; }
    
.about-page{
	max-width: 750px;
	margin: auto; 
}

.about-page .left img,
.about-page .right img{
	width: 100%;
	height: auto;
}

.about-page h1{
	text-align: center;
}

.team-member h2,
.team-member h3{
	font-weight: 300;
	text-align: center;
}

.team-member h2{
	margin-top: 20px;
	margin-bottom: 10px;
}

.team-member h3{
	margin-bottom: 20px;
	color: #225262;
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.contact-page{
	text-align: center;
	max-width: 750px;
	margin: auto; 
}


/* COMMENTS
-------------------------------------------------------------- */
.comments-holder {
  margin: 30px auto 50px; }
  .comments-header {
    font-style: italic;
    border-bottom: #ccc solid 1px;
    margin-bottom: 30px; }
    .comments-header h2 {
      float: left;
      font-size: 30px;
      font-weight: 300; }
    .comments-header .add-comment-btn {
      color: #225262;
      float: right;
      cursor: pointer;
      text-transform: uppercase;
      margin-top: 10px; }

.comment-form-holder {
  padding: 30px 0 30px;
  display: none;
  border-bottom: #ccc dashed 1px; }
  .comment-form {
    width: 400px;
    margin: 0 auto;
    padding: 30px; 
    display: none;}
    
.page-comment-reply .comment-form {
	display: block;
}

.page-comment-reply .comment{
	margin: 20px auto 0;
}    
   

.pane-node-comments {
  padding-top: 20px; }

.comments {
  margin: 0 auto;
  padding: 30px 0; }

.comment {
  width: 430px;
  margin-bottom: 40px; }
  .comment .comment-header {
    margin: 0 5px 20px -20px;
    border-left: #225262 solid 5px;
    padding: 0 0 0 15px; }
    .comment .comment-header h2 {
      font-size: 20px;
      font-weight: 300; }
    .comment .comment-header h3 {
      font-size: 14px;
      color: #225262;
      font-weight: 300;
      font-style: italic; }
  .comment .website a {
    color: #225262;
    float: left; }
    .comment .website a:hover {
      color: #444444; }
  .comment .submitted {
    padding: 5px 10px;
    background-color: #f2efe2;
    font-size: 10px;
    text-transform: uppercase; }
  .comment .field-name-comment-body {
    padding: 0;
    font-size: 14px; }
  .comment .footer {
    clear: both;
    margin-top: 10px;
    border-top: #ccc dashed 1px;
    font-size: 12px;
    padding-top: 10px;
    text-transform: uppercase; }
    .comment .footer ul.links {
      float: right;
      text-align: right; }

/* SERVICE LINKS
-------------------------------------------------------------- */
.service-links li {
  float: left;
  margin-left: 10px; }

/* FOOTER
-------------------------------------------------------------- */

#footer {
  position: relative;
  clear: both;
  background-color: #f1eee0;
  font-size: 14px;
  margin-top: 60px;
   }
   
   #footer h2{
	   color: #225262;
    font-size: 30px;
    font-weight: 100;
    text-align: center;
    margin-bottom: 20px;
   }
  
  #copy{
	  background-color: #eae6d1;
	  line-height: 100px;
	  text-align: center;
  }
  
  #copy a{
	  color: #225262;
  }
  
  #copy a:hover{
	  color: #444;
  }
  
  #footer-main{
	  max-width: 1100px;
	  margin: auto;
	  padding: 40px;
  }
  
  #block-instagram-block-instagram-block{
	  float: left;
	  margin-right: 4.5%;
	  width: 30%;
	  position: relative;
	  
	  -webkit-box-sizing: border-box;
	  -moz-box-sizing: border-box;
	  box-sizing: border-box;
  }
  
  #block-instagram-block-instagram-block img{
	  border: #fff 20px solid;
	  width: 100%;
	  height: auto;
	  -webkit-box-sizing: border-box;
	  -moz-box-sizing: border-box;
	  box-sizing: border-box;
  }
  
  #block-views-tweets-block{
	  width: 30%;
	  float: left;
	  margin-right: 4.5%;
  }
  
  #block-views-tweets-block li + li{
	  margin-top: 10px;
	 padding-top: 10px;
	 border-top: #225262 dashed 1px;
  }
  
  #block-views-tweets-block a{
	  color: #225262;
  }
  
  #block-block-1{
	  float: left;
	  width: 30%;
	  margin-top: 60px;
  }
  
  #block-mailchimp-lists-upstairs-downstairs-newsletter{
	  float: left;
	  width: 30%;
  }
  
  #block-mailchimp-lists-upstairs-downstairs-newsletter .form-submit{
	  float: right;
  }
  

/* SOCIAL
-------------------------------------------------------------- */
.social-icons .icon {
  background: #225262 url(../images/bb_social.png) no-repeat;
  height: 30px;
  width: 30px;
  display: inline-block;
  border-radius: 15px;
  margin: 10px 0 0 10px;
  transition: background-color .3s ease; }
  .social-icons .icon:hover {
    background-color: #555;
     }
.social-icons .twitter {
  background-position: -30px 0; }
.social-icons .instagram {
  background-position: -60px 0; }
.social-icons .youtube {
  background-position: -90px 0; }
.social-icons .pinterest {
  background-position: -120px 0; }
  
 
  .social-icons.big{
	  padding-top: 40px;
  } 
  .social-icons.big .icon {
  margin-top: 40px;
  background: #225262 url(../images/bb_social_big.png) no-repeat;
  height: 50px;
  width: 50px;
  display: inline-block;
  border-radius: 25px;
  margin: 10px 0 0 10px;
  transition: background-color .3s ease; }
  .social-icons.big .icon:hover {
    background-color: #555;
    }
.social-icons.big .twitter {
  background-position: -50px 0; }
.social-icons.big .instagram {
  background-position: -100px 0; }
.social-icons.big .youtube {
  background-position: -150px 0; }
.social-icons.big .pinterest {
  background-position: -200px 0; }

/* FORMS
-------------------------------------------------------------- */
.form-item {
  margin-top: 0; }

input[type="text"],
input[type="password"],
input[type="email"],
textarea {
  width: 98%;
  padding: 5px 1%;
  border: none;
  background-color: white;
  font-size: 18px;
  font-family: "Lato";
  font-weight: 300;
  color: #c4c4c4;
  box-shadow: 1px 1px 1px #ccc inset;
  font-family: 'Lato', sans-serif; }
  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="email"]:focus,
  textarea:focus {
    background-color: #fdfdfb;
    color: #444444; }

label {
  font-size: 16px;
  font-style: italic;
  font-weight: 300; }

input[type="submit"] {
  background-color: #225262;
  color: #f5f3e9;
  padding: 15px 20px 10px;
  cursor: pointer;
  font-size: 16px;
  letter-spacing: 2px;
  font-style: italic;
  font-weight: 300;
  border: none;
  margin-left: 5px;
  border-radius: 3px; }
  input[type="submit"]:hover {
    background-color: white;
    color: #225262; }

.form-actions {
  text-align: right;
  margin-bottom: 0; }
  
.marker, .form-required{
	color: #225262;
}

/* EXTRAS
-------------------------------------------------------------- */
body.cke_show_borders {
  width: 680px !important;
  min-width: 680px;
  margin: 0 auto; }

.image-post_full {
  position: relative;
  z-index: 1; }

.hover-pinterest {
  position: absolute;
  right: 0px;
  bottom: 0px;
  z-index: 999;
  background-image: url("../images/bb_pinit.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  display: none;
  width: 100px;
  height: 100px;
  transition: all .3s ease;
  opacity: .8; }
  .hover-pinterest:hover {
    opacity: 1; }
.hover-pinterest.show-pin-btn{
display: block;	
}

.pin-it-link {
  height: 100%;
  width: 100%;
  display: block; }
  
  
.front .messages-holder{
	z-index: 10000;
	position: absolute;
	top: 100px;
}  
.messages-holder .messages{
	border: none !important;
	margin: 40px 0;
}  

.front .messages-holder .messages{
	padding-right: 50px;
}

.messages-holder .messages li{
	margin-bottom: 10px;
	list-style: disc;
}


.messages-holder .messages.error{
	background: none #ef9292;
	color: #f5f3e9;
}  

.messages-holder .messages.status{
	background: none #8fba83;
	color: #f5f3e9;
}  
  

/* MOBILE
-------------------------------------------------------------- */
@media only screen and (max-width: 1120px) {
  #main-content {
    width: 100%;
    margin: 0; }

  #wrapper {
    width: 100%; }

  #u-big {
    margin: 0;
    left: -5%;
    top: 60px;
    width: 40%; }
    #u-big img {
      width: 100%;
      height: auto; }

  #d-big {
    margin: 0;
    left: 35%;
    top: 80px;
    width: 40%; }
    #d-big img {
      width: 100%;
      height: auto; }
      
      
      .page-node-53 #main a{
	font-size: 18px;
}

  #main {
    padding: 180px 20px 0; }

  .post-teaser .main {
    width: 60%; }

  .post-teaser .side {
    width: 35%; }

  .post-teaser .image {
    padding: 20px; }

  .sideright-bricks .main-content {
    width: 60%; }

  .sideright-bricks .side-content {
    width: 37%;
    margin-left: 3%; }

  .side-content .pane-block {
    padding: 20px; }

  .comment {
    width: 80%; }

  .comment-form-holder {
    clear: both; }

  .comment-form-holder form {
    padding: 0;
    width: 100%; }

  .comments-holder .header h2 {
    font-size: 24px; }

  .comments-holder .header .add-comment-btn {
    font-size: 14px; } }
@media only screen and (max-width: 568px) {
  #main-content {
    width: 100%;
    margin: 0; }

  #main {
    padding: 100px 20px 0; }

  #header {
    margin-bottom: 0;
    text-align: center; }
    #header #nav li {
      float: none;
      display: inline-block; }
    #header #nav li a {
      font-size: 12px;
      padding: 0 10px; }
    #header #header-inner {
      float: none; }
    #header #nav li ul li {
      display: list-item;
      text-align: left; }

  .front #main {
    padding-top: 200px; }

  .logo {
    float: none;
    margin: 0 0 10px; }

  .logo {
    display: none; }

  #u-big {
    margin: 0;
    left: 20px;
    top: 60px; }
    #u-big img {
      width: 160px;
      height: auto; }

  .bot {
    display: none; }

  #d-big {
    margin: 0;
    left: 185px;
    top: 80px; }
    #d-big img {
      width: 155px;
      height: auto; }

  #ud-sm #u-sm, #ud-sm #d-sm {
    display: none; }
  #ud-sm .logo {
    display: none;
    left: 20px;
    text-align: left; }

  /*.menu-toggle{display: block; margin-bottom: 10px;}*/
  .sideright-bricks .main-content {
    width: 100%; }

  .sideright-bricks .side-content {
    width: 100%;
    margin-left: 0;
    margin-top: 40px; }

  .post-full .header h1 {
    font-size: 30px; }

  .post-full .body p.image-holder {
    padding: 20px; }

  .post-teaser .main {
    width: 100%; }

  .post-teaser .side {
    width: 100%; }

  .post-teaser .image {
    padding: 20px; }

  .post-teaser .header {
    margin: 20px 0 0 -20px; }
	
	#block-instagram-block-instagram-block,
	#block-block-1,
	#block-mailchimp-lists-upstairs-downstairs-newsletter,
	#block-views-tweets-block{
	  float: none;
	  margin-right:0;
	  width: 100%;
	  margin-bottom: 60px;
  }
  

  
    
    
}
